.ice-container-nav{
  width:$--ice-nav-w;
  z-index:map-get($z-index,iceNav);
  position:fixed;
  bottom:0;
  top:0;
  left:0;
  display:flex;
  flex-direction:column;
  @include use-transition();
  background:$--ice-nav-bg;
  @if $--ice-nav-shadow{
    box-shadow:$--ice-nav-shadow;
  }
  .content{
    overflow-y:auto;
    flex:1;
    flex-shrink: 1;
  }
  .footer{
    height:$--ice-nav-footer-h;
    line-height:$--ice-nav-footer-h;
    padding-left:$--base-padding*2;
    padding-right:$--base-padding*2;
    background:$--ice-nav-footer-bg;
    display:none;
    color:$light-font-color;
    text-align:right;
    position:relative;
    i{
      font-size:1.4rem;
      vertical-align: middle;
    }

  }
  overflow-y:auto;
  /**
    导航块
   */
  .ice-nav-block{

  }
  /**
  item 行 block
   */
  .ice-nav-item{
    //item line
    @extend .light-fade-in;
    .ice-nav-item-line{
      position:relative;
      color:$--ice-nav-line-color;
      @include between-center();
      .arrow{
        transition: .2s all ease-out;
      }
      &.open{
        .arrow{
            transform:rotate(90deg);
        }
      }
      &.active{
        color:$--ice-nav-line-active-color;
        @if $--ice-nav-line-active-bg{
          background:$--ice-nav-line-active-bg;
        }
        border-right:5px solid rgba($--ice-nav-line-active-color,.5);
      }
    }
    //item collapse
    .ice-nav-item-nav{
      padding-left:$--ice-nav-line-offset;
      background-color:$--ice-nav-item-nav-bg;
      border-left:5px solid $--ice-nav-line-active-color;
      .ice-nav-item-nav{
        border-left:none;
      }
    }
  }
}

.ice-line{
    padding:.5rem;
    display:flex;
    align-items:center;
    position:relative;
    justify-content: space-between;
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow:hidden;
    &.active{
        color:$--ice-nav-line-active-color;
        background:$--ice-nav-line-active-bg;
    }
}
.ice-nav-item-line{
  //@include AutoMedia($--ice-nav-line-media);
  padding:$--ice-nav-line-p;
}