$--ice-nav-w:17rem;
$--ice-header-h:60px;
/**
  header
 */
$--ice-header-bg:$fire-header-bg !default;
$--ice-header-color:$fire-header-color !default;
$--ice-avatar-len:25px;
$--ice-header-wrapper-p:0 1rem;

$--ice-header-border:null !default;
$--ice-header-shadow:null !default;

/**
  nav
 */
$--ice-nav-bg:$fire-nav-bg;
$--ice-nav-shadow:2px 0 12px -3px rgba(0,0,0,0.1);
$--ice-nav-line-color:$light-font-color;
$--ice-nav-line-active-color:$color-primary !default;
$--ice-nav-line-active-bg:null !default;
$--ice-nav-line-offset:1rem;
$--ice-nav-line-p:.5rem !default;
$--ice-nav-item-nav-bg:rgba($light-font-color,0.05) !default; //次级导航body背景色
$--ice-nav-footer-bg:$light-line-color !default;
$--ice-nav-footer-hover:$light-thin-color !default;
$--ice-nav-footer-h:3rem;
$--ice-nav-header-btn-font:2rem;
//$--ice-nav-line-media:(
//  small:(px:5px),
//        medium:(px:7px),
//        large:(px:10px),
//        x:(px:)
//)