

@keyframes IceLoginPageArticleEnter {
  from{ transform:translate3d(0,25%,0);opacity:0}
  to{opacity:1}
}
.ice-login-page-wrapper{
  background:$light-background-color;
  height:100vh;
  overflow:hidden;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position:relative;
  margin-top:0;
  @include center();

}
.ice-login-row{
  margin-bottom:.8rem;
}
.ice-login-page-article{
  opacity:0;
  animation: IceLoginPageArticleEnter .4s ease-in .3s;
  animation-fill-mode: forwards;
  z-index:1;
  padding:2rem;
  min-width:350px;
  width:50vw;
  max-width:520px;
  position:relative;
  overflow:hidden;
  @include Radius();
  .ice-login-page-article-bg0{
    @include Abs-full();
    background:white;
    @include Radius();
    z-index:-2;
  }
  .ice-login-page-article-bg1{
    $cover-dis-len:20px;
    z-index:-1;
    @include Radius();
    top:0 - $cover-dis-len;
    left: 0 - $cover-dis-len;
    height:100%;
    width:100%;
    width: calc(100% + #{$cover-dis-len*2});
    height: calc(100% + #{$cover-dis-len*2});
    position:absolute;
    overflow:hidden;
    background-size:cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    filter: blur(10px);
    //transform: scale(1.1,1.1);
    opacity:0.9;
  }
  &>article{
    padding:2rem 2.5rem;

    @include Radius();
  }
  .ice-login-article-loginning-cover{
    @include Abs-full();
  }
}