<!--
    auto created by @ztwx vue template!!

    @pageAuthor  :  ${tp_user}
    @AuthorEmail :  ${tp_email}
    @pageCreated :  ${tp_now}
-->

<template src="./${tp_file_name}.html">
</template>

<script lang="ts">
import Vue from "vue";
import {Component} from "vue-property-decorator";

@Component({})
export default class extends Vue{

}
</script>
<style scoped src="./${tp_file_name}.scss" lang="scss"></style>