@mixin LucencyBG($color) {
  $color: rgba($color, .8);
  background: rgba($color, .1);

  color: $color;
  i {
    color: $color;
  }
}
@mixin ButtonBg($color,$light:$use-linear-light){
  $compareColor:if($light,lighten($color,20%),darken($color,12%));
  background:linear-gradient(45deg,$compareColor,$color);
}

@mixin LinearBG($color,$use:true,$various,$light:$use-linear-light){
  @if $use-linear and $use{
    @if $various == button{
      @include ButtonBg($color,$light);
    }
  }@else{
    background:$color;
  }
}