@import "../../../styles/variable";
@import "../../../styles/allmixins";

$cover-dis-len:20px;
.ice-login-page-wrapper{
  height:100vh;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  background-size: cover;
  position:relative;
  margin-top:0;
  @include center();

}
.ice-login-row{
  margin-bottom:1rem;
}
.ice-login-page-article{
  z-index:1;
  padding:2rem;
  min-width:350px;
  width:50vw;
  max-width:520px;
  position:relative;
  overflow:hidden;
  @include Radius();
  .ice-login-page-article-bg0{
    @include Abs-full();
    background:rgba(white,.5);
    @include Radius();
    z-index:-2;
  }
  .ice-login-page-article-bg1{
    z-index:-1;
    @include Radius();
    top:0 - $cover-dis-len;
    left: 0 - $cover-dis-len;
    height:100%;
    width:100%;
    width: calc(100% + #{$cover-dis-len*2});
    height: calc(100% + #{$cover-dis-len*2});
    position:absolute;
    overflow:hidden;
    background-size:cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    filter: blur(10px);
    //transform: scale(1.1,1.1);
    opacity:0.9;
  }
  &>article{
    padding:2rem 2.5rem;

    @include Radius();
  }
}