%animate-abs-fade-baseState{
    position:absolute;
    top:0;
    left:0;
    width:100%;

}
@keyframes LightFadeIn {
    from{opacity:0.5}
    to{}
}
@keyframes FadeIn {
    from{opacity:0}
    to{}
}

@keyframes PopFadeIn{
    from {transform:scale(0,0)}
    to{}
}

.light-fade-in{
    animation:LightFadeIn .3s ease-out;
}
.animate-abs-fade-enter-active{
    transition:all .4s ease-out;
    @extend %animate-abs-fade-baseState;
}
.animate-abs-fade-leave-active{
    transition:all .4s ease-out;
    opacity:0;
    @extend %animate-abs-fade-baseState;
}



.animate-abs-fade-enter{
    opacity:0;
    @extend %animate-abs-fade-baseState;
}

.animate-abs-fade-leave{
    opacity:1;
}

.animate-abs-fade-leave{
    @extend %animate-abs-fade-baseState;
}

.animate-fade-enter-active{
    transition:all .3s ease-out;
}
.animate-fade-leave-active{
    opacity:0;
    transition:all .3s ease-out;
}
.animate-fade-enter{
    opacity:0;
}

.an-fade-in{
    @include use-animation(FadeIn);
}

.animate-width-enter{
    transform:translate3d(-100%,0,0);
}
.animate-width-enter-active{
    @include use-transition($type:fast);
}
.animate-width-leave-active{
    transform:translate3d(-100%,0,0);
    @include use-transition($type:fast);
}

.animate-slide-down-enter{
    transform: translate3d(0,-100%,0);
}
.animate-slide-down-enter-active{
    @include use-transition($type:fast);
}
.animate-slide-down-leave-active{
    transform: translate3d(0,100%,0);
    @include use-transition($type:fast);
}

.animate-slide-right-enter{
    transform: translate3d(-100%,0,0);
}
.animate-slide-right-enter-active{
    @include use-transition($type:fast);
}
.animate-slide-right-leave-active{
    transform: translate3d(100%,0,0);
    @include use-transition($type:fast);
}

.animate-slide-left-enter{
    transform: translate3d(100%,0,0);
}
.animate-slide-left-enter-active{
    @include use-transition($type:fast);
}
.animate-slide-left-leave-active{
    transform: translate3d(-100%,0,0);
    @include use-transition($type:fast);
}

.animate-slide-toggle-right-enter{
    transform: translate3d(100%,0,0);
}
.animate-slide-toggle-right-enter-active{
    @include use-transition($type:fast);
}
.animate-slide-toggle-right-leave-active{
    transform: translate3d(100%,0,0);
    @include use-transition($type:fast);
}

.animate-slide-toggle-left-enter{
    transform: translate3d(-100%,0,0);
}
.animate-slide-toggle-left-enter-active{
    @include use-transition($type:fast);
}
.animate-slide-toggle-left-leave-active{
    transform: translate3d(-100%,0,0);
    @include use-transition($type:fast);
}
