.ice-avatar{
  @include Iflex-center();
  border-radius:50%;
  overflow: hidden;
  @each $k,$v in $avatar-size{
    &.#{$k}{
      width:$v*1.8;
      height:$v*1.8;
      i{
        font-size:$v;
      }
    }
  }
}

