.cm-card{
  @include Card();
  @include CardSkin();
  //min-width:$card-min-w;
  //max-width:$card-max-w;
  @if $card-auto-center{
    margin-left:auto;
    margin-right:auto;
  }
}

.cm-search-card{
  @extend .cm-card;
  padding:$card-search-p;
  &+.cm-content-card{
    margin-top:1rem;
  }
  .title{
    @include text_color(brand);
    font-size:$card-search-title-font-size;
    padding:$card-search-title-p;
    margin:$card-search-title-m;
    border-bottom:$light-line-border;
    font-weight: bold;
  }
}

.cm-content-card{
  @extend .cm-card;
  padding:$card-content-p;
}