.text-color-des{
  @include text_color("des");
}
.text-color-title{
  @include text_color("title");
}
.text-color-brand{
  @include text_color("brand");
}
.bg-light-assist{
  background:rgba($color-assist,.1) !important;
}

@each $key,$value in $color-various{
  .bg-color-#{$key} {
    background: $value;
  }
  .text-color-#{$key}{
    color:$value;
  }
  .bg-lucency-#{$key}{
    @include LucencyBG($value);
  }
}
.ice-brand{
  @extend .text-color-brand;
  font-size:$text-brand-size;
  padding:$text-brand-p;
  font-weight: bold;
}

.ice-title{
  @extend .text-color-title;
  font-size:$text-title-size;
  padding:$text-title-p;
}