.text-center{
  text-align: center;
}
.text-right{
  text-align: right;
}
.flex{
  display:flex;
}
.flex-center{
  @include center();
}
.flex-between{
  @include between-center();
}
.rel{
  position:relative;
}

.ice-cover-bg{
  @include Abs-full();
  background:$color-cover-light;
  z-index:1;
}
.cover-blur{
  filter:blur(2px);
}