$--yiq-threshold: 180 !default;
$--yiq-light: white !default;
$--yiq-dark: rgb(black, 0.75) !default;

$--shadow-enabled: true !default;
$shadow-color: rgb(45, 25, 80) !default;
$base-family: "lucida grande", "lucida sans unicode", lucida, helvetica, "Hiragino Sans GB", "MicrosoftYaHei", "WenQuanYi Micro Hei", sans-serif;

$color-primary: #ED7861 !default;
$color-secondary: #FFCE00 !default;
$color-thirdly: #D37465 !default;
$color-assist: #259b24 !default;
$color-warn:yellow !default;
$color-error: red !default;
$color-success: green !default;

$color-various:(
        primary:$color-primary,
        assist:$color-assist,
        warn:$color-warn,
        success:$color-success,
        error:$color-error
);

$color-cover-bg: rgba(black, .5) !default; //cover背景色;
$color-cover-light:rgba(black,.1) !default;
/**
* 基础设置
*/
$--base-padding: 1rem !default;
/*
*可更改主题变量
*
*/
//浅背景相关
$light-font-color: rgba(black, .75) !default;
$light-line-color: rgb(248, 248, 248);
$light-line-border: 1px solid $light-line-color;
$light-background-color: white;
$light-thin-color: rgb(230, 230, 230);
$light-font-des: lighten($light-font-color, 45%) !default;
$light-font-brand: lighten($light-font-color, 5%) !default;
$light-font-title: lighten($light-font-color, 15%) !default;
$light-bg: rgb(248, 248, 248);

//可深背景字体色
$deep-font-color: white;
$deep-icon-color: white;
$deep-font-des: darken($deep-font-color, 45%) !default;
$deep-font-brand: darken($deep-font-color, 5%) !default;
$deep-font-title: darken($deep-font-color, 15%) !default;
//深背景内浅色背景字色
$deep-icon-light-color: rgba(black, .75);
$deep-background-color: black;

//默认浅背景色
$default-bg: white;

$use-radius: true;
$base-radius: .5em;


$z-index: (
        fireHeader:100,
        fireNav:102,
        fireNavShade:101,
        iceHeader:100,
        iceNav:102,
        iceNavShade:101,
        iceDropdown:200
);
$radius: (
        badge:8px
);

$text-size: (
        sm:12px,
        small:14px,
        now:16px,
        large:18px
);
$text-title-size:1.3rem;
$text-title-p:0.5rem 1rem;

//shadow

$shadow-light-nav-top: 0 2px 12px -3px rgba($shadow-color, .4) !default;
$shadow-header: 0 3px 14px -4px rgba($shadow-color, .4) !default;
/*
*
*/
/*
* Media
*/
$media-small: 1220px !default;
$media-medium: 1370px !default;
$media-large: 1700px !default;
$media-x: 1701px !default;

$media-mobile: 900px !default;
$media-mobile-enabled: true !default; //开启手机模式


// fire header 背景色
$fire-header-bg: $color-primary !default;
$fire-header-color: $deep-font-color !default;
$fire-header-shadow: none !default;
$fire-header-bottom: 1px solid $light-thin-color !default;
// fire nav 右侧导航栏背景色
$fire-nav-bg: white !default;
$fire-nav-color: $light-font-color !default;
$cmFire-header-h: 64px !default;
$fire-nav-line-active-bg: $light-line-color;

// fir container body
$fire-article-bg: $light-line-color !default;
$fire-container-body-bg: $default-bg;
$fire-nav-width: 16rem !default;
$fire-bottom-holder-h: 50px;
$fire-container-body-padding: 2rem;
$fire-body-height-base: 100vh;
$fire-body-height: calc(100vh - #{$cmFire-header-h} - #{$fire-bottom-holder-h});

$fire-body-media-p: (
        small:(p:1rem 1.5rem),
        medium:(p:1.5rem 2rem),
        large:(p:2rem 3rem),
        x:(p:2rem 4rem)
);

$fire-nav-brand: (
        p:.6em 1em,
);
$ztw-transition-line: .3s ease-out;
$ztw-transition-fast: .2s ease-out;
//cm line
$cm-line-bg: $default-bg;
$cm-line-border: $light-line-border !default;
$cm-line-padding: 1rem 2rem !default;
$cm-line-use-border: true !default;
$cm-line-icon-size: 1.5rem !default;
//cm card
$card-radius: 10px;
$card-base-padding: 1em;
$card-search-p: 1.2rem 1.5rem 1.5rem 1rem;
$card-content-p: 1.5rem 1.5rem;
$card-shadow-color: rgba($shadow-color, .1) !default;
$card-border: 1px solid rgba($shadow-color, .1) !default;
$card-shadow: 0 2px 16px -4px $card-shadow-color !default;
$card-min-w: 800px !default;
$card-max-w: 1400px !default;
$card-auto-center: null !default;
$card-search-title-font-size:1.3rem;
$card-search-title-p:0rem 1rem 1rem 1rem;
$card-search-title-m:0 0 0.8rem 0;
//badge
$badge-size: (
        small:.1em .2em
);

//avatar
$avatar-size: (
        small:1.2rem,
        medium:2rem,
        large:2.5rem,
        x:3rem
)//form